<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit <%= dog.name %></h1>
    <form action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= dog.name %>"
        required
      />
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" value="<%= dog.age %>" />
      <label for="isFriendly">Friendly:</label>
      <input type="checkbox" name="isFriendly" id="isFriendly" <%=
      dog.isFriendly ? "checked" : "" %> />
      <button type="submit">Update Dog</button>
    </form>
  </body>
</html>
